<html>
  <head>
    <title>S & D Budget Sheet</title>
    <link rel="shortcut icon" href="./images/icon.png" />
    <link rel="stylesheet" href="style.css" />
    <script defer src="script.js"></script>
  </head>

  <body>
    <div class="data-entry">
      <h1>S & D Budget-Sheet</h1>
      <div class="notification" id="notification">
        <div align="left">
          <%- include('_navbar_')%>
          <div class="searchbox" style="float: right; width: 360px"><input type="text" id="search" onkeyup="searchTable()" placeholder="🔎    Search for description in this table..." /></div>
        </div>
      </div>
      <div class="notification"><%=data.message%></div>
      <div id="data_Table">
        <center>
          <table class="content-table" id="dataTable">
            <thead>
              <tr>
                <th>Date</th>
                <th>Category</th>
                <th>Description</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <%data.records.forEach(function(data) { %>
              <tr>
                <td><%=data.date%></td>
                <td><%=data.category%></td>
                <td>
                  <%=data.description%>
                  <strong><%=data.total%> </strong>
                </td>
                <td>
                  <%=data.amount%>
                  <strong><%=data.sum%></strong>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </center>
      </div>

      <input type="button" value="Export As PDF 🖨 " id="btPrint " class="btn" onclick="exportPDF(); " />
    </div>
  </body>
</html>
